---
title: index
---

%header
привеееееееееееееет lol 
ляляля
  .picture
  .nav
    .nav_button
      %a{:href=>'#'}
        %b
          Home
    .nav_button
      %a{:href=>'#'}
        %b
          About
    %img{:src=>'/assets//images/icon.png',:alt=>'icon'}
    .nav_button
      %a{:href=>'#'}
        %b
          Category
    .nav_button
      %a{:href=>'#'}
        %b
          Contact
  .text
    %p
      Hello, Welcome to my Blog!
    .line
    .line
  .post_container
    .blog
      .krug
        31 Jul
      .post_meta
        cat:
        %a{:href=>'#'}
          Diary, Personal
        .vertical_line
          %img{:src=>'/assets//images/heart.png',:alt=>'icon'}
        136 Likes
        .vertical_line
          %img{:src=>'/assets//images/comment.png',:alt=>'icon'}
        21 Comments
      .text_post
        %h1
          Lorem Ipsum Dolor Sit Amet
        %p
          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
          amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
          auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
          // Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 
          // Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, 
          // velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        %a{:href=>'#'}
          Read More
    .blog
      .krug
        21 Jul
      .post_meta
        cat:
        %a{:href=>'#'}
          Diary, Personal
        .vertical_line
          %img{:src=>'/assets//images/heart.png',:alt=>'icon'}
        136 Likes
        .vertical_line
          %img{:src=>'/assets//images/comment.png',:alt=>'icon'}
        21 Comments
      .text_post
        %h1
          Lorem Ipsum Dolor Sit Amet
        %p
          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
          amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
          auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
          // Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 
          // Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, 
          // velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        %a{:href=>'#'}
          Read More
    .blog
      .krug
        11 Jul
      .post_meta
        cat:
        %a{:href=>'#'}
          Diary, Personal
        .vertical_line
          %img{:src=>'/assets//images/heart.png',:alt=>'icon'}
        136 Likes
        .vertical_line
          %img{:src=>'/assets//images/comment.png',:alt=>'icon'}
        21 Comments
      .text_post
        %h1
          Lorem Ipsum Dolor Sit Amet
        %p
          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
          amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
          auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
          // Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 
          // Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, 
          // velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        %a{:href=>'#'}
          Read More
    .blog
      .krug
        8 Jul
      .post_meta
        cat:
        %a{:href=>'#'}
          Diary, Personal
        .vertical_line
          %img{:src=>'/assets//images/heart.png',:alt=>'icon'}
        136 Likes
        .vertical_line
          %img{:src=>'/assets//images/comment.png',:alt=>'icon'}
        21 Comments
      .text_post
        %h1
          Lorem Ipsum Dolor Sit Amet
        %p
          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
          amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
          auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
          // Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 
          // Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, 
          // velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        %a{:href=>'#'}
          Read More
  %footer
    .center
      %a{:href=>'#'}
        .button
          Load More
    .text_footer
      Copyrights (c) 
      %a{:href=>'#'}
        Fikristudio 
      2014
    
